<div class="container col-lg-12">
  <div class="row">
    <div class="container-text">
      <h1>Text To Speech</h1>
      <form action="">
        <textarea
          #textToSpeak
          name=""
          id=""
          cols="30"
          rows="10"
          class="conteainer-text-area"
        >
Hi welcome to Vinoth's portfolio, please type what you want me to speak!</textarea
        >
        <button type="submit" (click)="speak()">Tab to speak</button>
      </form>
    </div>
  </div>
</div>
