.header {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px 0px;
  text-shadow: 3px 5px 6px #333;
}

.board {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #3aaf9a;
  margin: 0px 5px;
  border-radius: 6px;
}

.column h3 {
  background-color: #3aaf9a;
  padding: 5px;
  margin: 0;
  text-align: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: grab;
}

.card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Define colors for different statuses */
.todo {
  background-color: #ffeb3b; /* Yellow */
}

.in-progress {
  background-color: #2196f3; /* Blue */
}

.in-review {
  background-color: #ff9800; /* Orange */
}

.done {
  background-color: #4caf50; /* Green */
}
