<div class="container">
  <h1>Drag and drop</h1>
  <div class="row">
    <div class="board">
      <div
        class="column"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, 'To do')"
      >
        <h3>To Do</h3>
        <div
          class="card"
          draggable="true"
          *ngFor="let item of filterTickets('To do')"
          (dragstart)="onDragStart(item)"
        >
          {{ item.ticketId }}
          <br />
          {{ item.ticketName }}
        </div>
      </div>
      <div class="column" (drop)="onDrop($event, 'In Progress')">
        <h3>In Progress</h3>
        <div
          class="card"
          draggable="true"
          *ngFor="let item of filterTickets('In Progress')"
          (dragstart)="onDragStart(item)"
        >
          {{ item.ticketId }}
          <br />
          {{ item.ticketName }}
        </div>
      </div>
      <div class="column" (drop)="onDrop($event, 'Review')">
        <h3>In Review</h3>
        <div
          class="card"
          draggable="true"
          *ngFor="let item of filterTickets('Review')"
          (dragstart)="onDragStart(item)"
        >
          {{ item.ticketId }}
          <br />
          {{ item.ticketName }}
        </div>
      </div>
      <div class="column" (drop)="onDrop($event, 'Done')">
        <h3>Done</h3>
        <div
          class="card"
          draggable="true"
          *ngFor="let item of filterTickets('Done')"
          (dragstart)="onDragStart(item)"
        >
          {{ item.ticketId }}
          <br />
          {{ item.ticketName }}
        </div>
      </div>
    </div>
  </div>
</div>
