<!-- <app-employee></app-employee> -->

<div class="container">
  <h1>Projects</h1>

  <div class="row">
    <div class="flex row">
      <div class="project-list col-6" data-aos="fade-left">
        <a class="nav-link" routerLinkActive="active" routerLink="/employee">
          <span class="project-list-in">
            <span class="image-container">
              <img src="../../../assets/employee_registratio.jpg" alt="" />
              <span class="overlay"></span>
            </span>
            <span class="projectTitle">Employee Registration</span>
          </span>
        </a>
      </div>
      <div class="project-list col-6" data-aos="fade-right">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/student-registration"
        >
          <span class="project-list-in">
            <span class="image-container">
              <img src="../../../assets/student_registration.jpg" alt="" />
              <span class="overlay"></span>
            </span>
            <span class="projectTitle">Student Registration</span>
          </span>
        </a>
      </div>
      <div class="project-list col-6" data-aos="fade-left">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/bike-rental-booking"
        >
          <span class="project-list-in">
            <span class="image-container">
              <img src="../../../assets/vehicle_renting.jpg" alt="" />
              <span class="overlay"></span>
            </span>
            <span class="projectTitle">Bike Rental Booking</span>
          </span>
        </a>
      </div>
      <div class="project-list col-6" data-aos="fade-right">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/movie-ticket-booking"
        >
          <span class="project-list-in">
            <span class="image-container">
              <img src="../../../assets/movie_ticket_booking.jpg" alt="" />
              <span class="overlay"></span>
            </span>
            <span class="projectTitle">Movie Ticket Booking</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
