.table-primary {
  --bs-table-color: #000;
  --bs-table-bg: #e0f6f2;
  --bs-table-border-color: #a6b5cc;
  --bs-table-striped-bg: #c5d7f2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bacbe6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfd1ec;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}
.formData {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.formData label {
  margin-bottom: 5px;
}
.formData input {
  padding: 5px 11px;
}
.pos_abs {
  position: absolute;
  left: 50px;
  margin-top: 10px;
  cursor: pointer;
}
