.container {
  width: 100%;
  height: calc(100vh - 142px);
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background: #3aaf9a;
  transition: 1s;
  transform-origin: left;
  /* border-radius: 51% 49% 56% 44% / 30% 30% 70% 70%; */
  /* perspectivve */
  /* transform: perspective(150px) rotateY(36deg); */

  /* Animation */

  /* animation: box 5s linear 2s infinite; */

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: box 5s linear 2s infinite alternate-reverse both; */

  /* animation: box;
  animation-duration: 5s;
  animation-delay: 2s; */
  /* animation-iteration-count: 4; */
  /* animation-iteration-count: infinite; */
  /* animation-timing-function: linear; */
  /* animation-direction: alternate-reverse; */
  /* animation-fill-mode: both; */
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.box:hover {
  padding: 0px;
  /* width: 400px;
  height: 400px; */
  /* border-radius: 50%; */

  /* translate */
  /* transform: translateY(100px); */
  /* transform: translateX(100px); */
  /* transform: translate(100px, 100px); */
  /* transform: translate(100px, -100px); */
  /* transform: translate(-100px, 100px); */
  /* transform: translate(-100px, -100px); */

  /* rotate */
  /* transform: rotateY(360deg); */
  /* transform: rotateX(360deg); */
  /* transform: rotate(360deg); */

  /* scale */
  /* transform: scaleX(3); */
  /* transform: scaleY(3); */
  /* transform: scale(3); */

  /* skew */
  /* transform: skew(10deg, -30deg); */
  /* transform: skew(10deg, 30deg); */
  /* transform: skewX(10deg); */
  /* transform: skewY(10deg); */

  /* transform: perspective(1500px) rotateY(-180deg);
  transition: 1s; */
}

@keyframes box {
  /* from {
    transform: translateX(-500px) rotateZ(-360deg) translateY(-100px);
  }
  to {
    transform: translateX(500px) rotateZ(360deg) translateY(100px);
  } */
  25% {
    transform: translateX(200px) rotate(360deg);
  }
  50% {
    transform: translateY(200px) rotate(-360deg);
  }
  75% {
    transform: translateX(-200px) rotate(360deg);
  }
  100% {
    transform: translateY(-200px) rotate(-360deg);
  }
}

.triangle {
  width: 200px;
  height: 200px;
  background: #3aaf9a;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  /* rotate: 0deg; */
  /* rotate: 90deg; */
  /* rotate: 180deg; */
  rotate: 270deg;
  /* rotate: 360deg; */
}

/* .heart {
  width: 200px;
  height: 200px;
  background: black;
  rotate: 45deg;
  position: relative;
  &::after,
  &::before {
    content: "";
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    translate: -50% 0%;
  }
  &::after {
    translate: 0% -50%;
  }
} */

.heart {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #3aaf9a;
  transform: rotate(-45deg);
  margin: 50px;
}

.heart::before,
.heart::after {
  content: "";
  background-color: #3aaf9a;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 50px;
}

.moon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: -30px 0 0 0px #3aaf9a;
  rotate: 270deg;
}

.star {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #3aaf9a;
  /* clip-path: polygon(50% 0%, 100% 100%, 0% 100%); */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  margin: 50px auto;
}

/* .star::before {
  transform: rotate(90deg);
  content: "";
  background-color: #3aaf9a;
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%, 50% 0%, 100% 100%, 0% 100%);
}

.star::after {
  transform: rotate(180deg);
  content: "";
  background-color: #3aaf9a;
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
} */

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary,
.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
  --mdc-chip-disabled-label-text-color: white;
  --mdc-chip-elevated-container-color: #3aaf9a;
  --mdc-chip-elevated-selected-container-color: #3aaf9a;
  --mdc-chip-elevated-disabled-container-color: #3aaf9a;
  --mdc-chip-flat-disabled-selected-container-color: #3aaf9a;
  --mdc-chip-focus-state-layer-color: black;
  --mdc-chip-hover-state-layer-color: black;
  --mdc-chip-selected-hover-state-layer-color: black;
  --mdc-chip-focus-state-layer-opacity: 0.12;
  --mdc-chip-selected-focus-state-layer-color: black;
  --mdc-chip-selected-focus-state-layer-opacity: 0.12;
  --mdc-chip-label-text-color: white;
  --mdc-chip-selected-label-text-color: white;
  --mdc-chip-with-icon-icon-color: white;
  --mdc-chip-with-icon-disabled-icon-color: white;
  --mdc-chip-with-icon-selected-icon-color: white;
  --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: white;
  --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  --mat-chip-selected-disabled-trailing-icon-color: white;
  --mat-chip-selected-trailing-icon-color: white;
}
